@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: patners1;
  src: url(../assets/344397_1_0.woff2);
}

@font-face {
  font-family: patners2;
  src: url(../assets/344397_2_0.woff2);
}

::-webkit-scrollbar {
  color: red;
  background-color: white;
  width: 10px;
  height: 5px;
  position: absolute;
}
::-webkit-scrollbar-thumb {
  background: #f25252;
  border-radius: 20px;
}
@keyframes car {
  0% {
    right: 150vw;
    bottom: -20vh;
  }
  80% {
    right: 150vw;
    bottom: -20vh;
  }
  100% {
    right: 15vw;
    bottom: 0vh;
  }
}

/* 
#haha{
    animation: name duration timing-function delay iteration-count direction fill-mode;
} */

#iimm {
  /* visibility: hidden; */
  scale: 1.8;
  opacity: 0%;
}

.hahaha:hover #iimm {
  /* visibility: visible; */
  /* scale: 1.8; */
  opacity: 100%;
  transition: all ease-in-out 0.4s;
}

#creww {
  animation-name: crew;
  animation-duration: 1s;
  transition: all linear 0.4s;
}

@keyframes crew {
  0% {
    /* visibility: 0%; */
    opacity: 0;
    scale: 0;
  }
  100% {
    /* visibility: 50%; */
    opacity: 100%;
    scale: 1;
  }
}

#paraa {
  /* margin-top: 80px; */
  animation: papa 4.5s;
  transition: all linear;
}
@keyframes papa {
  0% {
    margin-top: 80px;
    opacity: 0%;
  }
  90% {
    margin-top: 80px;
    opacity: 0%;
  }
  100% {
    margin-top: 0px;
    opacity: 100%;
  }
}
